body{
  margin: 0;
}

#root {
  
  text-align: center;
}



.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6667AB;
  color: white;
  padding: 1rem 2rem;

}

.dashboard-main{
  display: grid;
  grid-template-areas: 
  "text-entry old-entries";
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 120px);
}

#text-entry {
  grid-area: text-entry;
  background-color: aqua;
  padding: 1rem;
  height: 100%;
}

#old-entries {
  grid-area: old-entries;
  background-color: lightgray;
  padding: 1rem;
  height: 100%;
}